@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Inter;
  color: white;
}

.uppercase.text-xs {
  color: #AAAAAA;
}

.travel {
  height: auto;
  max-height: fit-content;
  background-image: url('./assets/travelRequestBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.travel__purpose_item {
  color: black;
}
.error {
  color: rgb(206, 28, 28);
  font-weight: 700;
}

/* .travel__requests {
  background-image: url('./assets/requests__bg.PNG');
  background-repeat: no-repeat;
  background-size: cover;
} */
